In [1]:
import pandas as pd
import numpy as np

In [8]:
df3 = pd.read_csv('/Users/sheebamoghal/Desktop/DSAN_5300/5300-project-bangladesh_migration/cleaned_data/cleaned_data-03.csv', header=1)

In [9]:
df3.head(10)

,203,10_164_3169_1,10_164_3169,3169,1,1.1,1.2,2,1979,Unnamed: 9,...,Unnamed: 105,4.1,2.1,Unnamed: 108,1.5,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,4.2
0,203,10_164_3169_2,10_164_3169,3169,2,2,2,1.0,1985,NaN,...,2.0,4.0,NaN,4.0,1.0,NaN,NaN,NaN,NaN,4
1,203,10_164_3169_3,10_164_3169,3169,3,3,2,1.0,2004,NaN,...,NaN,4.0,NaN,4.0,1.0,NaN,NaN,NaN,NaN,4
2,203,10_164_3169_4,10_164_3169,3169,4,3,2,1.0,2012,NaN,...,NaN,4.0,NaN,4.0,1.0,NaN,NaN,NaN,NaN,4
3,203,10_164_3169_5,10_164_3169,3169,5,3,1,1.0,2016,NaN,...,NaN,4.0,NaN,4.0,1.0,NaN,NaN,NaN,NaN,4
4,203,11_164_1386_1,11_164_1386,1386,1,1,1,1.0,1959,NaN,...,2.0,4.0,NaN,NaN,1.0,18000.0,18000.0,NaN,NaN,4
5,203,11_164_1386_10,11_164_1386,1386,10,4,2,1.0,1940,NaN,...,NaN,4.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,4
6,203,11_164_1386_11,11_164_1386,1386,11,14,2,1.0,1999,NaN,...,NaN,4.0,NaN,4.0,1.0,NaN,NaN,NaN,NaN,4
7,203,11_164_1386_2,11_164_1386,1386,2,2,2,1.0,1989,NaN,...,2.0,4.0,NaN,4.0,1.0,NaN,NaN,NaN,NaN,4
8,203,11_164_1386_3,11_164_1386,1386,3,3,2,2.0,1992,NaN,...,NaN,4.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,4
9,203,11_164_1386_4,11_164_1386,1386,4,3,1,2.0,1995,NaN,...,NaN,4.0,NaN,NaN,1.0,NaN,NaN,15000.0,15000.0,4